.footer
  p
    | JavaScript &amp; jQuery: The Missing Manual, by 
    a(href='http://sawmac.com/') David McFarland
    | . Published by 
    a(href='http://oreilly.com/') O'Reilly Media, Inc
    | .
block end