extends ../layout

append scripts
  script
    function printToday() {
    var today = new Date();
    document.write(today.toDateString());
    }

block content
  div.content
    div.main
      h1= title
      p 
        | Today is 
        strong
          script
            printToday();