extends ../layout

append stylesheets
  style
    #gallery img {
      display: inline-block;
      margin: 10px;
      position: relative; 
    }

append scripts
  script(src='/_js/jquery-1.8.2.min.js')
  script
    $(document).ready(function() {
      $('#gallery').click(function(evt) {
        var remainingImages = $('img').toArray();
        var processNext = function() {
          var image = remainingImages.shift();
          if (!image) return;

          // Add the next iteration as a callback to the animation
          $(image).fadeTo(200, .3).fadeTo(250,1, processNext);
          $(image).animate({left: '-=20px'}, 200).animate({left: '+=20px'}, 250);
        }
        processNext();

        // $('img').each(function() {
        //   $(this).fadeTo(500, .3).fadeTo(250, 1).delay(5000);
        // }); //end each

        // var $tar = $(evt.target);
        // $tar.fadeTo(500, .3).fadeTo(250, 1);
        // $tar.animate({left: '-=20px'}, 200).animate({left: '+=20px'}, 250);
        // $(this).find('#zoom').fadeTo(500, .3).fadeTo(250, 1);
        // $(this).find('img').animate({left: '-=20px'}, 200).animate({left: '+=20px'}, 250);
      
      }); //end click
    }); //end ready

block content
  .content
    .main
      h1= title
      #gallery
        a(href='#')
          img(src='_images/chapter13/zoom_out.png', width='80', height='80', alt='zoom')
        a(href='#')
          img(src='_images/chapter13/vacancy.png', width='80', height='80', alt='vacnacy')
        a(href='#')
          img(src='_images/chapter13/user.png', width='80', height='80', alt='user')
        a(href='#')
          img(src='_images/chapter13/upload.png', width='80', height='80', alt='upload')
        a(href='#')
          img(src='_images/chapter13/undo.png', width='80', height='80', alt='undo')
        a(href='#')
          img(src='_images/chapter13/support.png', width='80', height='80', alt='support')
        a(href='#')
          img(src='_images/chapter13/stop_sign.png', width='80', height='80', alt='stop')
        a(href='#')
          img(src='_images/chapter13/smiley.png', width='80', height='80', alt='smiley')
        a(href='#')
          img#zoom(src='_images/chapter13/newsletter.png', width='80', height='80', alt='newsletter')
        a(href='#')
          img(src='_images/chapter13/lock.png', width='80', height='80', alt='lock')
        a(href='#')
          img(src='_images/chapter13/group.png', width='80', height='80', alt='group')
        a(href='#')
          img(src='_images/chapter13/export.png', width='80', height='80', alt='export')
        a(href='#')
          img(src='_images/chapter13/email.png', width='80', height='80', alt='email')
        a(href='#')
          img(src='_images/chapter13/digital_camera.png', width='80', height='80', alt='camera')
        a(href='#')
          img(src='_images/chapter13/configuration.png', width='80', height='80', alt='config')
        a(href='#')
          img(src='_images/chapter13/bar_chart.png', width='80', height='80', alt='bar chart')
        a(href='#')
          img(src='_images/chapter13/attachment.png', width='80', height='80', alt='attachement')
        a(href='#')
          img(src='_images/chapter13/addressbook.png', width='80', height='80', alt='addressbook')
