extends ../layout

append scripts
  script(src='/_js/chapter14/printTime.js')

block content
  .content
    .main
      h1= title
      p The time is: 
        strong
          script
            document.write(printTime(true));